PORT = "Execution port of the server"
DB_HOST = "Host of the database"
DB_PORT = "Port of the database"
DB_USER = "User of the database
DB_PASSWORD = "Password of the database"
DB_DATABASE = "Name of the database"